

body {
    max-width: 1400px;
    margin: 86px auto 0;
    padding: 0;
    font-family: 'ProximaNovaCond', sans-serif;
    /* overflow: hidden; */
}

@media(min-width: 767px) and (max-width: 1279px) {
    body {
        margin-top: 86px;

    }



}

@media(min-width: 359px) and (max-width: 766px) {
    body {
        margin-top: 90px;

    }



}

@media(min-width: 319px) and (max-width: 358px) {
    body {
        margin-top: 60px;

    }



}



.header {
    position: fixed;
    z-index: 5;
    margin-top: -86px;
    width: 100%;
    -webkit-box-shadow: -2px 19px 19px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 19px 19px -25px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 19px 19px -25px rgba(0, 0, 0, 0.75);
    max-width: 1400px;
    overflow: hidden;
}

@media(min-width: 767px) and (max-width: 1279px) {
    .header {
        margin-top: -86px;


    }



}


@media(min-width: 359px) and (max-width: 766px) {
    .header {
        margin-top: -90px;
        padding-bottom: 10px;
        background-color: #fff;

    }



}

@media(min-width: 319px) and (max-width: 358px) {
    .header {
        margin-top: -60px;

    }



}



.top-header {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 115px;
    background-color: #fff;

}

@media(min-width: 1280px) and (max-width: 1360px) {
    .top-header {
        padding: 0 81px;

    }



}

@media(min-width: 1023px) and (max-width: 1279px) {
    .top-header {
        padding: 0 50px;
        justify-content: left;

    }



}

@media(min-width: 767px) and (max-width: 1022px) {
    .top-header {
        padding: 0 25px;
        justify-content: left;

    }



}

@media(min-width: 359px) and (max-width: 766px) {
    .top-header {
        padding: 0 15px;
        justify-content: left;
        flex-wrap: wrap;

    }



}

@media(min-width: 319px) and (max-width: 358px) {
    .top-header {
        padding: 0 15px;
        justify-content: left;
        flex-wrap: wrap;

    }


}

@media(min-width: 1023px) and (max-width: 1279px) {
    .logo {
        margin-right: 282px;

    }



}

@media(min-width: 767px) and (max-width: 1022px) {
    .logo {
        margin-right: 70px;

    }



}

@media(min-width: 359px) and (max-width: 766px) {
    .logo {
        order: 1;
        margin-left: 104px;

    }



}

@media(min-width: 319px) and (max-width: 358px) {
    .logo {
        order: 1;
        margin-right: 18px;

    }



}




@media(min-width: 359px) and (max-width: 766px) {
    .logo img {

        width: 128px;

    }



}

@media(min-width: 319px) and (max-width: 358px) {
    .logo img {

        width: 128px;

    }



}



.tel-wrapper {
    display: flex;
}


@media(min-width: 359px) and (max-width: 766px) {
    .tel-wrapper {
        order: 3;
        flex-wrap: wrap;
        justify-content: center;


    }



}

@media(min-width: 319px) and (max-width: 358px) {
    .tel-wrapper {
        order: 3;
        /* display: none; */


    }



}

a {
    text-decoration: none;
    color: inherit;
}

body a:hover {
    text-decoration: none;
    color: inherit;
}

.tel {
    font-size: 24px;
    line-height: 26px;
    font-weight: 900;
    margin-right: 50px;
}

@media(min-width: 359px) and (max-width: 766px) {
    .tel {
        margin-right: 15px;
        font-size: 17px;

    }



}

@media(min-width: 319px) and (max-width: 358px) {
    .tel {
        margin-right: 0;
        font-size: 17px;

    }



}

.order-tel {
    font-size: 16px;
    line-height: 24px;
}

@media(min-width: 319px) and (max-width: 358px) {

    .order-tel {
        display: none;
    }



}


.order-tel-link {
    color: #6699ff;
    border-bottom: 1px solid #c5d9ff;
    transition: color 0.2s ease-in,
        border-bottom 0.3s ease-in;
}

.order-tel-link:hover {
    color: #fce211;
    border-bottom: 1px solid #fce211;
}

.order-tel-form {
    padding: 50px;
    box-sizing: border-box;
    width: 475px;
    background-color: #fff;
    border-radius: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 95%;
    max-width: 95%;

}

@media(min-width: 319px) and (max-width: 766px) {
    .order-tel-form {
        padding: 32px;
        width: 307px;

    }

}



.form-closing-cross {
    position: absolute;
    right: 12px;
    top: 16px;
    width: 20px;
    height: 20px;

}


.form-closing-cross:before,
.form-closing-cross:after {
    position: absolute;
    left: 7px;
    content: ' ';
    height: 14px;
    width: 4px;
    background-color: #cccccc;
    transition: background-color 0.3s ease-in;

}

.form-closing-cross:hover:before,
.form-closing-cross:hover:after {
    background-color: #333333;
}

.form-closing-cross:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-closing-cross:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-element {
    padding: 15px 33px 15px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'ProximaNovaCond', sans-serif;
    outline: none;
}

@media(min-width: 319px) and (max-width: 767px) {
    .form-element {
        padding: 10px 33px 10px 10px;

    }



}


.form-element:hover,
.form-element:focus {
    border: 1px solid #333333;
    outline: none;
}


.form-heading {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 50px;
}

@media(min-width: 359px) and (max-width: 767px) {
    .form-heading {
        font-size: 20px;
        margin-bottom: 32px;

    }



}

@media(min-width: 319px) and (max-width: 358px) {

    .form-heading {
        font-size: 20px;
        margin-bottom: 32px;

    }



}


.blue-text {
    color: #6699ff;
}

.full-width {
    box-sizing: border-box;
    width: 100%;
}

.input-icon {
    font-style: normal;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: #999999;
    font-size: 12px;

}

.form-element:hover+.input-icon,
.form-element:focus+.input-icon{
    color:#333333;

}

.icon-has-text{
    color:#333333;
} 



.input-name-wrapper{
    position: relative;
    margin-bottom: 10px;
}

.input-name-icon:before{
    font-family: 'FontAwesome';
    content:'\f007';
 
}

.input-tel-wrapper {
    position: relative;
    margin-bottom: 10px;
}


.input-tel-icon::before{
    font-family: 'FontAwesome';
    content:'\f095';
    
}


.order-button {
    padding: 20px;
    text-align: center;
    background-color: #fce211;
    color: black;
    font-size: 16px;
    font-family: 'ProximaNovaCond', sans-serif;
    font-weight: 900;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: background-color 0.2s ease-in;
}

@media(min-width: 359px) and (max-width: 767px) {
    .order-button {
        padding: 13px;

    }



}

@media(min-width: 319px) and (max-width: 358px) {
    .order-button {
        padding: 13px;

    }

}

.order-button:hover {
    background-color: #ffeb47;
    cursor: pointer;
}

.order-button:active {
    background-color: #ffeb47;

}

.order-button-wrapper {
    margin-bottom: 0;
    padding-bottom: 7px;
    border-radius: 5px;
    background-color: #b09f11;
    transition: background-color 0.2s ease-in,
        padding-bottom 0.2s ease-in,
        margin-bottom 0.2s ease-in;
}

.order-button-wrapper:hover {
    background-color: #c5b321;
}

.order-button-wrapper:active {
    background-color: #c5b321;
    padding-bottom: 4px;
    margin-bottom: 3px;

}


/*---------------------------------------------------- modal window */

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.9);
    transition: opacity 400ms ease-in;
    z-index: 25;
    display: none;
    pointer-events: none;
}

.modal-background:target {
    display: block;
    pointer-events: auto;
}

.modal-window {
    width: 100%;

}

.modal-window img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 95%;
    max-width: 95%;
    -o-object-fit: contain;
    object-fit: contain;
}

.closing-cross {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in;
}


.closing-cross:hover {
    opacity: 1;
}

.closing-cross:before,
.closing-cross:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 4px;
    background-color: white;

}

.closing-cross:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.closing-cross:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* ------------------------------------------------------secion-order-feedback */

.secion-order-feedback {
    padding: 80px 115px 75px 115px;
    background-color: #fff;
    text-align: center;
}

@media(min-width: 319px) and (max-width: 766px) {
    .secion-order-feedback {
        padding: 50px 15px 75px 15px;


    }



}

p {
    margin: 0;
}

.feedback-heading {
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: black;
    margin: 0;
    margin-bottom: 40px;
}

.feedback-information {
    font-size: 18px;
    color: #999999;
    margin-bottom: 35px;

}


.feedback-warning {
    display: inline-block;
    font-size: 20px;
    color: #6699ff;
    border-bottom: 1px solid #c5d9ff;
    text-transform: uppercase;

}

@media(min-width: 319px) and (max-width: 766px) {
    .feedback-warning {
        border-bottom: none;


    }



}




/* ----------------------------------------------additional-goods-section */



.additional-goods-section {
    background-color: #fafafa;
    padding: 75px 100px 10px 100px;

}


@media(min-width: 1023px) and (max-width: 1279px) {

    .additional-goods-section {
        padding: 75px 40px 10px 40px;

    }
}

@media(min-width: 767px) and (max-width: 1023px) {
    .additional-goods-section {
        padding: 75px 30px 10px 30px;

    }
}

@media(min-width: 319px) and (max-width: 767px) {
    .additional-goods-section {
        padding: 47px 15px 10px 15px;

    }



}



.section-heading {
    text-align: center;
    margin: 0;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 40px;
}

@media(min-width: 359px) and (max-width: 767px) {
    .section-heading {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
    }



}

@media(min-width: 319px) and (max-width: 358px) {
    .section-heading {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 36px;
    }

}

.goods-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




.offer-card {
    text-align: center;
    box-sizing: border-box;
    width: 270px;
    padding: 32px 30px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;

}

@media(min-width: 1023px) and (max-width: 1279px) {

    .offer-card {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media(min-width: 767px) and (max-width: 1023px) {
    .offer-card {
        margin-right: 34px;
        margin-left: 34px;
    }
}

@media(min-width: 319px) and (max-width: 767px) {
    .offer-card {
        margin-right: 0;
        margin-left: 0;
    }



}


@media(min-width: 319px) and (max-width: 358px) {
    .advantages-item {
        margin-bottom: 27px;
        margin-right: 0;
    }

}

.offer-card:hover {
    -webkit-box-shadow: -2px -4px 21px -6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -2px -4px 21px -6px rgba(0, 0, 0, 0.23);
    box-shadow: -2px -4px 21px -6px rgba(0, 0, 0, 0.23)
}


.offer-card-heading {
    font-weight: 900;
    color: #6699ff;
    text-transform: uppercase;
    font-size: 20px;
    height: 50px;
    margin-bottom: 8px;

}

.offer-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 188px;
    margin-bottom: 10px;


}

.offer-img {
    max-width: 100%;
}



.select-amount-item {
    margin-bottom: 3px;

}

.select-amount-item:last-child {
    margin-bottom: 0;
}

.grey-text {
    color: #999999;
    font-weight: normal;
    font-size: 12px;

}

.offer-card-label {
    font-size: 15px;
}

.card-select-amount {
    margin-bottom: 15px;
}

.offer-card-price {
    font-weight: 900;
    font-size: 29px;
    color: #6699ff;
    margin-bottom: 12px;
}

.good-last-price {
    font-size: 16px;
    text-decoration: line-through;
    font-weight: normal;
    color: black;
}

.last-price-currency {
    font-size: 12px;
}

.currency {
    font-weight: 900;
    font-size: 20px;
    color: #6699ff;
}

.card-button-wrapper {
    width: 84%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4px;
}

.card-button-wrapper:active {
    padding-bottom: 1px;
}

.card-order-button {
    display: block;
    padding: 15px;
    font-size: 16px;
}

.offer-card-prepayment {
    padding-top: 17px;
    margin-bottom: 1px;
}

.offer-card-prepayment,
.offer-card-delivery {
    font-size: 12px;
    color: #a7a7a7;

}

/*------------------------------------------ window adding-good */

.adding-good {
    position: fixed;
    bottom: 20px;
    left: -470px;
    box-sizing:border-box;
    height: 115px;
    width: 470px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 10px 10px 67px -32px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 67px -32px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 67px -32px rgba(0, 0, 0, 0.75);
    transition: transform 0.4s ease-in;
}

@media(min-width: 319px) and (max-width: 767px) {

    .adding-good {
        height: auto;
        width: 270px;
        padding: 10px;
        left: -280px;
        -webkit-box-shadow: 1px 6px 43px -15px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 6px 43px -15px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 6px 43px -15px rgba(0, 0, 0, 0.75);
    }
}




.adding-good-active {
    transform: translateX(105%);

}

@media(min-width: 319px) and (max-width: 767px) {

    .adding-good-active {
        transform: translateX(110%);
    
    }
}

.adding-good-text {
    font-weight: bold;
    font-size: 22px;
    color: black;
}